// Mixins in here
.button-signup() {
  padding: 1rem 5rem;
  background: @button-bg-desktop;
  border-radius: 10px;
  color: @button-font;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  @media @mobile {
    padding: 1rem 8rem;
    background: @button-bg;
  }
}

.nav-item-animation() {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.nav-item-animation-before() {
  top: 0px;
  transform: translateY(10px);
}

.nav-item-animation-after() {
  bottom: 0px;
  transform: translateY(-10px);
}

.nav-item-animation-hover() {
  color: @teal;
  transition: .2s ease-in;
}