// Mixins in here
.button-signup() {
  padding: 1rem 5rem;
  background: @button-bg;
  border-radius: 10px;
  color: @button-font;
  border: none;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
}