// Navigation Styles here
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  margin: 0 -70px;
  border-bottom: 2px dashed @navigation-border;

  @media @mobile {
    flex-flow: column;
    align-items: center;
    padding: 5px 0;
    margin: 0 -30px;
  }

  h1 {
    @media @mobile {
      font-size: 3rem;
      margin: 5px 0;
    }
  }

  nav {
    display: flex;
    align-items: center;

    @media @mobile {
      padding-top: 5px;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-size: 1.5rem;
      padding-right: 40px;
      @media @mobile {
        padding-right: 30px;
      }

      &:hover {
        .nav-item-animation-hover();
      }
    }
  }
}